<div class="content">
  <h1>Bienvenidos a mi Angular-app</h1>
  <div>
    <h2>Skills:</h2>
    <ul>
      <li>Angular</li>
      <li>Node</li>
      <li>React</li>
      <li>Git</li>
      <li>Js</li>
      <li>Html</li>
      <li>Css</li>
    </ul>
  </div>
</div>
